/* blog styles */

// Hide header
.page-template-page-blog header {
	#menu-primary {
		li {
			display: none;
		}
		li:first-child {
			display: block;
		}
	}
}

.naomimoon-blog {
	.flex {
		display: flex;
		border-bottom: 1px solid $purple;
	}
	&__header {
		margin-top: 45px;
		margin-bottom: 70px;
		height: 400px;
		line-height: 200px;
		text-align: center;
		background: url('../../images/blog-header.png');
		background-position: center;
		background-size: cover;
		h1 {
			text-align: center;
			margin: auto;
			text-transform: lowercase;
			font-weight: 600;
			font-size: 80px;
			cursor: default;
			transition: ease-in-out .3s;
			line-height: 375px;
			@media (max-width: 750px) {
				font-size: 50px;
			}
			@media (max-width: 450px) {
				font-size: 40px;
			}
		}
	}
	&__posts {
		h2 {
			margin: 30px 0 10px;
		}
		span {
			margin: 40px 0 10px 20px;
   			font-size: 14px;
			font-style: italic;
		}
		&.container {
			max-width: 980px;
		}
	}
	&__post {
		margin-bottom: 100px;
	}
	&__post-content {
		margin-top: 40px;
	}
}
