/* blog styles */

// Hide header
.page-template-page-blog header {
	#menu-primary {
		li {
			display: none;
		}
		li:first-child {
			display: block;
		}
	}
}

.naomimoon-blog {
	.flex {
		display: flex;
		border-bottom: 1px solid $purple;
	}
	&__header {
		margin-top: 45px;
		margin-bottom: 70px;
		height: 200px;
		line-height: 200px;
		text-align: center;
		background: linear-gradient(180deg, $purple 0%, $pink 90% );
		h1 {
			text-align: center;
			margin: auto;
			text-transform: uppercase;
    		letter-spacing: 3px;
			font-size: 50px;
			@media (max-width: 600px) {
				font-size: 30px;
			}
		}
	}
	&__post {
		h2 {
			margin: 30px 0 10px;
		}
		span {
			margin: 40px 0 10px 20px;
   			font-size: 14px;
			font-style: italic;
		}
		&.container {
			max-width: 980px;
		}
	}
}
