
.editor-styles-wrapper.block-editor-writing-flow {
	background: $background;
	color: $white;
	font-family: 'Nunito', sans-serif;
	/* HOMEPAGE */
	.home-heading {
		font-size: 40px;
		@media (max-width: $size-phone) {
			font-size: 30px;
		}
		text-align: center;
		top: 54px;
		margin-top: 40px;
		text-transform: uppercase;
    	letter-spacing: 5px;
	}
	p {
		line-height: 30px;
	}
	&.naomimoon-homepage__content {
		box-shadow: 0 0 15px rgba(0,0,0,.4);
	}
	&.naomimoon-homepage__hero {
		width: 100%;
		padding: 32vh 0;
		background: linear-gradient(180deg, #ff79c5bd -90%, #bd93f9ac 50%, #282a36bd 140%);
		background-size: cover;
		background-attachment: fixed;
		.hero-card {
			background-color: rgb(40, 42, 54);
			backdrop-filter: blur(5px);
			padding: 20px;
			border-radius: 20px;
			max-width: 570px;
			box-shadow: 0 0 15px rgba(0,0,0,.4);
			@media (max-width: $size-tablet) {
				max-width: 100%;
				border-radius: 0;
			}
			margin: 0 auto;
			h1 {
				text-transform: lowercase;
				font-weight: 600;
				font-size: 80px;
				margin: 20px 0 15px;
				line-height: 100px;
				cursor: default;
				color: $white;
			}
			h3 {
				font-size: 22px;
				margin: 30px 0;
				font-weight: 300;
			}
			h4 {
				font-weight: 200;
				padding-bottom: 15px;
			}
		}
	}
	&.naomimoon-homepage__about {
		.square-border {
			border: 2px solid $purple;
			border-radius: 10px;
			max-width: 770px;
			margin: auto;
			@media (max-width: $size-tablet) {
				border: none;
			}
		}
		p {
			max-width: 710px;
			margin: auto;
		}
	}
	&.naomimoon-homepage__experience {
		.row {
			justify-content: center;
			margin-bottom: 20px;
			max-width: 1000px;
			margin: auto;
			@media (max-width: 540px) {
				justify-content: left;
			}
		}
		.col {
			background: $background-dark;
			border-radius: 10px;
			@media (max-width: 540px) {
				flex: 0 0 100%;
			}
		}
		h2 {
			margin-bottom: 30px;
		}
		h3 {
			margin: 0;
			padding: 10px 0;
			color: black;
			background: #bd93f9b6;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			letter-spacing: 1.5px;
		}
		ul {
			text-align: left;
			padding-right: 25px;
			li {
				font-weight: 300;
				line-height: 30px;
			}
			&.php-ul, &.other-ul {
				padding-right: 21px;
				@media (max-width: 765px) {
					padding-right: 19.5px;
				}
				@media (max-width: 761px) {
					padding-right: 28px;
				}
			}
			@media (max-width: 761px) {
				&.other-ul, &.design-ul {
					padding: 0 45.5px;
				}
			}
		}
	}
	.seperator {
		width: 100%;
		padding: 1px 0;
		background: linear-gradient(180deg, #ff79c5bd -90%, #bd93f9ac 50%, #282a36bd 140%);
		background-size: cover;
		background-attachment: fixed;
	}
}

.naomi-editor-button {
	background: white;
	outline: 1px solid black;
	color: black;
	&.true {
		outline: 1px solid #007cba;
	}
	&:last-child {
		margin-left: 10px;
	}
}

.block-editor-block-list__block {
	max-width: 1920px !important;
}

/* Custom Controls */
.item-action-wrap {
	position: absolute;
	z-index: 99;
	display: none;
	i {
		background: white;
		border: 1px solid black;
		border-right: none;
		color: black;
		padding: 4px;
		&:hover {
			cursor: pointer;
			background: $purple;
		}
	}
}
.add-item-wrap {
	text-align: center;
	margin-top: 40px;
	i {
		background: $background;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		padding: 5px;
		&:hover {
			cursor: pointer;
			background: $selection;
		}
	}
}

