.site-footer {
	background: $background-dark;
	padding: 50px 0;
	@media (max-width: 900px) {
		padding: 20px 0;
	}
	.site-info {
		font-size: 14.5px;
		display: flex;
		justify-content: space-between;
		a:hover {
			text-decoration: underline;
		}
		.dashicons-arrow-up-alt2 {
			font-size: 16px;
			margin-top: 2px;
			margin-left: 3px;
			text-decoration: none;
		}
		.back-to-top {
			cursor: pointer;
		}
		.sep {
			padding: 0 2px;
			color: $purple;
		}
		@media (max-width: 900px) {
			a {
				line-height: 30px;
				font-size: 14.5px;
			}
			a:after {
				content: "\a";
				white-space: pre;
			}
			.dashicons-arrow-up-alt2 {
				margin-top: 6px;
			}
			.sep {
				display: none;
			}
		}
	}
}
