/*
	Vars
*/

$background:#282a36 !default;
$background-dark:#21242f;
$white: #F8F8F2;
$selection: #44475A;
$comment: #6272A4;
$red: #FF5555;
$orange: #FFB86C;
$yellow: #F1FA8C;
$green: #50FA7B;
$purple: #BD93F9;
$cyan: #8BE9FD;
$pink: #FF79C6;

$size-tablet: 900px;
$size-phone: 420px;
