$background:#282a36 !default;
$background-dark:#21242f;
$white: #F8F8F2;
$selection: #44475A;
$comment: #6272A4;
$red: #FF5555;
$orange: #FFB86C;
$yellow: #F1FA8C;
$green: #50FA7B;
$purple: #BD93F9;
$cyan: #8BE9FD;
$pink: #FF79C6;

.naomimoon-options {
	background: none;
    width: fit-content;
    margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 100px;
	// Navigation
	ul {
		display: flex;
		margin: 0;
		li {
			margin: 0;
			margin-bottom: 8px;
			padding-right: 3px;
			a {
				background: white;
				color: black;
				font-size: 16px;
				padding: 8px;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				border: 1px solid #808080;
				border-bottom: none;
				&:hover {
					background: #E9E9E9;
					cursor: pointer;
				}
				&.active {
					background: #E9E9E9;
				}
			}
		}
	}
	// Elements
	h1 {
		background: #E9E9E9;
		color: black;
		text-align: center;
		font-size: 25px;
		padding: 18px 0;
		margin: 0;
		border: 1px solid #808080;
		border-bottom: none;
		border-top-right-radius: 10px;
		text-transform: uppercase;
		font-weight: 700;
	}
	h2 {
		text-align: center;
		margin: 0 20px;
		padding: 17px 0 0;
		border-top: 1px solid #e9e9e9;
		text-transform: uppercase;
	}
	h5 { // description
		font-size: 14px;
		text-align: center;
		font-weight: 300;
		margin-bottom: -4px;
	}
	tr {
		text-align: center;
	}
	tbody {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 20px;
		padding: 20px 0;
		max-width: 780px;
	}
	form, .about, .font {
		background: white;
		border: 1px solid #808080;
		border-top: none;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		display: none;
		&.active {
			display: block;
		}
	}
	.about, .font, .general {
		width: 820px;
	}
	.about p {
		padding: 0 20px;
		font-size: 16px;
	}
	.font {
		tbody {
			gap: 65px;
		}
	}
	.form-table th {
		display: none;
	}
	.general {
		tbody {
			display: flex;
			gap: 0 20px;
			width: fit-content;
			margin: 0 auto;
		}
	}
	// Non-color page form elements
	.use-label {
		th {
			display: revert;
			width: auto;
			font-weight: 400;
			padding-top: 21px;
		}
		td {
			text-align: left;
		}
	}
	// Color picker customization
	.wp-color-result-text {
		min-width: 125px;
	}
	.gradient-preview {
		text-align: center;
		.preview {
			height: 70px;
			width: 410px;
			float: none;
			margin: 0 auto;
			background: black;
			border: 1px solid black;
			border-radius: 3px;
		}
	}
	// Submit buttons
	.settings-buttons {
		display: flex;
		justify-content: center;
		border-top: 1px solid #e9e9e9;
		margin: 0 20px;
		p {
			margin-right: 5px;
		}
	}
	// About page 
	.version-info {
		display: flex;
		justify-content: center;
		gap: 33px;
		margin: 0 20px;
		padding: 21px 0 20px;
		border-bottom: 1px solid #e9e9e9;
	}
	// Descriptions
	.section-description {
		text-align: center;
		p {
			font-style: italic;
			margin-bottom: 0;
			color: #808080;
		}
	}
}

// WP Core
.wp-core-ui .notice.is-dismissible {
	position: absolute;
	top: 4px;
	left: 0;
	min-width: 150px;
}

.form-table {
	margin-top: 0;
}

.wp-picker-container .wp-color-result.button {
	font-size: 14px;
	padding: 0 0 0 40px;
}

table.form-table+p.submit {
	text-align: center;
}

p.submit {
	margin-bottom: 20px;
	padding: 0 !important;
}

.wp-picker-container .iris-picker {
	position: absolute;
}

.wp-color-result {
	border-color: #808080 !important;
}

// Color scheme overwrite for editor

/* Body and Blocks */
body.portfolio, body.page-template {
	background: $background;
	color: $white;
}
.naomimoon-portfolio__hero .hero-card,
.experience-heading, .experience-block .col,
.certificate-block .certificate-heading,
.certificate-block .col {
	background: $background;
}
.project-block .col.content,
.experience-block h3,
.contact-block .col {
	background: $background-dark;
}
/* Links */
.project-block .col a,
.certificate-block .col p a,
.contact-block a h4 {
	color: $white;
}
body.portfolio a:hover,
body.page-template a:hover,
.certificate-block .col:hover p a,
.contact-block a h4:hover,
.naomimoon-header .main-navigation ul a:hover,
.site-header .main-navigation ul a:hover {
	color: $pink;
}
.project-block .col h4:hover {
	border-bottom: 1px solid $pink;
}
.menu-item:after,
.link-hover-animation:after {
	background-color: $pink;
}
/* Accent Design */
.naomimoon-border-bottom {
	background: $purple;
}
.naomimoon-portfolio__about .square-border {
	border: 2px solid $purple;
}
.contact-block img {
	border-bottom: 2px solid $purple;
}
/* Gradient */
.naomimoon-portfolio__hero {
	background: linear-gradient(180deg, $pink -20%, $purple 70%)
}
.experience-block {
	background: linear-gradient(180deg, $purple 0%, $pink 90% );
}
.certificate-block {
	background: linear-gradient(180deg, $pink -20%, $purple 70%);
}
/* Link block */
.link-block {
	background: linear-gradient(180deg, $pink -20%, $purple 70%);
}
.link-block .col {
	background: $purple;
}
.link-block .col:hover {
	background: $pink;
}
.link-card {
	background: $background;
}
.link-block .col p, .link-block .col a {
	color: $background-dark;
}
.editor-styles-wrapper.block-editor-writing-flow p {
	line-height: normal;
}
.link-block .col p a {
	padding: 0;
}
// Editor
.is-root-container, .edit-post-visual-editor__post-title-wrapper {
	max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
}